# env files
*.env

# db
app.db

# jupyter working and testing files
*.ipynb
*.ipynb_checkpoints

# __pychache__
__pycache__

# vscode settings
.vscode

# venv
venv

# AWS EB files 
.ebextensions/

# Buiilds
*.zip