<html>
    <head>
        {% if title %}
        <title>{{ title }} - book shelf</title>
        {% else %}
        <title> Welcome to your book shelf </title>
        {% endif %}
    </head>
    <body>
        <div>
            Biblioteka: 
            <a href="{{ url_for("index") }}">Dostępne</a>
            <a href="{{ url_for("add_book") }}">Dodaj</a>
            <a href="{{ url_for("import_books") }}">Importuj</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>