{% extends "base.html" %}

{% block content %}
    <h1>Aby zaimportować książki do biblioteki, wypęłnij formularz</h1>
    <form action="" nethod="post" novalidate>
        {{ form.hidden_tag() }}
        <p> 
            {{ form.intitle.label }}<br>
            {{ form.intitle(size=32) }}
            {% for error in form.intitle.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> 
            {{ form.inauthor.label }}<br>
            {{ form.inauthor(size=32) }}
            {% for error in form.inauthor.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> 
            {{ form.inpublisher.label }}<br>
            {{ form.inpublisher(size=32) }}
            {% for error in form.inpublisher.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> 
            {{ form.isbn.label }}<br>
            {{ form.isbn(size=32) }}
            {% for error in form.isbn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> 
            {{ form.subject.label }}<br>
            {{ form.subject(size=32) }}
            {% for error in form.subject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
